<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
     <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section id="app">
      <div class="container">
        <div class="row mt-4 mb-4 my-height90">
<!--parte sinistra-->
            <div class="col-4 rosso my-Padding0">
                <!--testata-->
                <section
                class="d-flex justify-content-between align-items-center Header col-12"
                >
                <!--parte sinistra-->
                    <div class="col-5">
                        <div class="m-2 d-flex">
                            <div class="my-width d-flex align-items-center">
                                <img class="rounded-circle w-100"
                                :src="principale.avatar"
                                alt=""
                                />
                                <h4 class="p-2 my-Padding0">{{principale.name}}</h4>
                            </div>
                        </div>
                    </div>
                    <!--parte destra-->
                    <div class="col-5">
                        <div class="d-flex justify-content-end m-2">
                            <i class="fa-solid fa-circle-notch p-2"></i>
                            <i class="fa-solid fa-message p-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical p-2"></i>
                        </div>
                    </div>
                </section>
                <!--sezione notifiche-->
                <section class="d-flex  align-items-center col-12 Notifiche">
                    <div class="col-2 d-flex align-items-center m-2">
                        <i class="fa-solid bg-light fa-bell-slash fontIcon rounded-circle"></i>
                    </div>
                    <div class="col-6 fontSectionNotifiche">
                        <p class="my-margin">Ricevi notifiche nuovi messaggi</p>
                        <p class="my-margin text-decoration-underline">Attiva notifiche Desktop</p>
                    </div>
                </section>
                <!--sezione search-->
                <section class="d-flex bg-light">
                    <div class="col-1 d-flex align-items-center justify-content-end">
                        <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                    </div>
                    <div class="col-9">
                        
                        <input type="text" class="w-100 m-2" placeholder="Cerca o inizia nuova chat" v-model=" filterText">
                    </div>
                </section>
                <!--sezione contatti-->
                <section class="bg-light areaContatti overflow">
                    <div class="row justify-content-center w-100">
                        <template v-for="(datoCorrente, indice) in contacts" >
                        <template v-if="datoCorrente.name.toLowerCase().includes(filterText)">
                            <div class="m-2 d-flex col-10 mt-0 border border-warning hover justify-content-between" @click="changeChat(indice)" :class="contattoSelezionato(indice)">
                                <div class="col-9 d-flex align-items-center">
                                    <div class="my-width d-flex align-items-center ">
                                        <img class="rounded-circle w-100 m-2"
                                        :src="datoCorrente.avatar"
                                        alt=""
                                        />
                                    </div>   
                                    <div class="">
                                        <h5 class="p-2 my-margin my-Padding0">{{datoCorrente.name}}</h5>
                                        <p class="p-2 ">{{datoCorrente.messages[datoCorrente.messages.length-1].message}}</p> 
                                    </div> 
                                </div>
                                <div class="col-2 d-flex align-items-start">
                                    <p class="p-2 fDate">{{datoCorrente.messages[datoCorrente.messages.length-1].date}}</p>
                                </div>
                            </div>
                        </template>
                        </template>
    
                    </div>
                </section>
            </div>
<!--parte destra-->
            <div class="col-8">
                <!--testata-->
                <section class="row" >
                    <div class="d-flex justify-content-between align-items-center Header col-12">
                        <!--sinistra-->
                        <div class="col-5">
                            <div class="m-2 d-flex">
                                <div class="my-width d-flex align-items-center">
                                    <img class="rounded-circle w-100"
                                    :src="contacts[index].avatar"
                                    alt=""
                                    />
                                </div>   
                                <div class="col-10">
                                    <h4 class="p-2 my-margin my-Padding0">{{contacts[index].name}}</h4>
                                    <p class="p-2 ">Ultimo accesso oggi alle 12.00</p> 
                                </div>
                            </div>
                        </div>
                        <!--destra-->
                        <div class="col-5">
                            <div class="d-flex justify-content-end m-2">
                                <i class="fa-solid fa-magnifying-glass p-2"></i>
                                <i class="fa-solid fa-paperclip p-2"></i>
                                <i class="fa-solid fa-ellipsis-vertical p-2"></i>
                            </div>
                        </div>
                    </div>
                </section>
                <!--campo messaggi-->
                <section class="row areaMessaggi textMessaggi justify-content-center overflow">
                    <div class="col-11">
                        <template v-for="(message , indice) in contacts[index].messages"> 
                            <!--messaggi inviati-->
                            <template v-if="message.status === 'sent'">
                               <div :class="classRight">
                                    <div class="break d-flex">
                                        <div class="col-10">
                                            <p class="p-2">{{message.message}}</p>
                                            <p class="fDate p-2">{{FormatoDate(message.date)}}</p> 
                                        </div>
                                       <!-- <div @click="deleteMessage(indice)">x</div>
                                      -->
                                        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a @click="deleteMessage(indice)" class="dropdown-item" href="#">Elimina</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </template>
                            <!--messaggi ricevuti-->
                            <template v-else>
                                <div :class="classLeft">
                                    <div class="break d-flex">
                                        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a @click="deleteMessage(indice)" class="dropdown-item" href="#">Elimina</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-10">
                                            <p class="p-2">{{message.message}}</p>
                                            <p class="fDate p-2">{{FormatoDate(message.date)}}</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                </section>
                <!--fondo-->
                <section class="row justify-content-center Header align-items-center">
                    <div class="col-1 d-flex justify-content-center">
                        😁
                    </div>
                    <div class="col-8">
                        <input type="text" class="w-100" placeholder="Scrivi un messaggio" v-model="newInput.message" tabindex="0" @keyUp.enter=" addTextMessage()">
                    </div>
                    <div class="col-1">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </section>
            </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
